html, body {
	
	margin : 0;
	padding : 0;
	overflow-x : hidden;
}

.cbalink { display : none; }

#my-icon-select-box-scroll,
#my-icon-select0-box-scroll,
#my-icon-select1-box-scroll,
#my-icon-select2-box-scroll,
#my-icon-select3-box-scroll,
#my-icon-select4-box-scroll {
	
	overflow-y : visible !important;
    padding-right : 20px;
	z-index : 999;
}

.header, .footer {
	
	width : 100vw;
	height : 7vh;
	
	background-color : rgb(34, 102, 201);
}

.left_side, .right_side {
	
	width : 15vw;
	height : auto;
	
	background-color : rgb(255, 222, 31);
}

.head_button{
	
	font-family : Lucida Handwriting, fantasy;
	font-size : 1.5vw;

	width : 16vw;
	height : calc(6vh - (6vh - 1.25em) / 2);
	
	padding-top : calc((6vh - 1.25em) / 2);
	margin-top : 0.5vh;
	
	text-align : center;
	
	border-radius : 10px;
	
	position : absolute;
	background-color : rgb(255, 222, 31);
}

.password_label {
	
	font-family : Lucida Handwriting, fantasy;
	font-size : 1.2vw;
	
	margin-left : -12vw;
}

.password_input {
	
	font-family : Lucida Handwriting, fantasy;
	font-size : 1.2vw;
	
	width : 8vw;
	height : 4vh;
	
	margin-top : 1.5vh;
	margin-left : 1vw;
	
	display : inline;
}

#password_button {
	
	margin-left : 1vw;
	display : inline;
}

.head_button:hover {
	
	font-size : 1.8vw;
	cursor : pointer;
	
	transition : font-size 100ms;
}

#new_add, #lyrics_set_add, #lyrics_add, #picture_add, #film_add {
	
	width : 12.4vw;
}

#new_add { left : 2vw; }
#lyrics_set_add { left : 16.4vw; }
#lyrics_add { left : 30.8vw; }
#picture_add { left : 45.2vw; }
#film_add { left : 59.6vw; }
#pic_add { left : 74vw; width : 20vw; }
#admin_out { left : 96vw; width : 3vw; background-color : red; }

#content_input {
	
	min-height : 50vh;
	
}

#descr_input {
	
	min-height : 20vh;
	height : 20vh;
}

#comment_input {
	
	min-height : 20vh;
	height : 20vh;
}

.admin_delete_button { 

	font-family : Lucida Handwriting, fantasy;
	font-size : 1vw;

	width : 2vw;
	height : 4vh;
	
	margin-bottom : 1vh;
	
	text-align : center;
	
	border-radius : 10px;
	border : 0;
	
	background-color : red;
	float : right;
}

#creative_button, #main_button { left : 12vw; }
#author_button, #lyrics_button { left : 32vw; }
#science_button, #pictures_button { left : 52vw; }
#news_button, #videos_button { left : 72vw; }

.content {
	
	min-height : 82vh;
	
	width : 66vw;
	height : auto;
	
	padding-top : 2vh;
	padding-bottom : 2vh;
	padding-left : 2vw;
	padding-right : 2vw;
	
	background-color : rgb(245, 245, 245);
}

.new, .set, .lyrics, .picture, .video_container {
	
	width : 64vw;
	height : auto;
	
	border : solid black 3px;
	border-radius : 25px;
	border-left : 0px;
	border-right : 0px;
	
	padding-top : 1vh;
	padding-left : 1vw;
	padding-right : 1vw;
	
	margin-bottom : 2vh;
}

.video_container {
	
	padding-left : 1vw;
	padding-bottom : 2vh;
	
	margin-bottom : 4vh;
}

.new_header, .set_header, .picture_header {
	
	width : 64vw;
	
	border-top-left-radius : 25px;
	border-top-right-radius : 25px;
}

.video_header {
	
	padding-top : 1vh;
	padding-bottom : 0vh;
}

.new_title, .set_title, .picture_title, .video_title {
	
	display : inline;
	
	witdh : 78.125%;
	height : auto;
	
	font-size : 1.5em;
	font-family : Lucida Handwriting, cursive;
	
	position : relative;
	left : 0vw;
}

.lyrics_title {
	
	width : 64vw;
	height : auto;
	
	font-size : 1.5em;
	font-family : Lucida Handwriting, cursive;
}

.new_date, .set_date, .picture_date {
	
	display : inline;	
	
	font-size : 1.1em;
	color : rgb(175, 175, 175);
	
	float : right;
}

.new_content {
	
	font-size : 1.2em;
	text-indent : 2vw;
	color : rgb(75, 75, 75);
	text-align : justify;
	
	margin-top : 2vh;
	margin-bottom : 2vh;
}

.tab {
	
	text-indent : 2vw;
}

.double_tab {
	
	text-indent : 4vw;
}

.new_picture, .set_picture, .lyrics_picture, .picture_picture {
	
	background-position : center;
	background-repeat : no-repeat;
	background-size : cover;

	width : 66vw;
    height : 75vh;
	
	border-radius : 22px;
	
	margin-left : -1vw;
}

.video_new_wrapper, .video_wrapper {
	
	width : 66vw;
	height : 75vh;
	
	padding-top : 1vh;
	margin-left : -1vw;
	margin-bottom : -2vh;
}

.video_new, .video {
	
	width : calc(66vw - 2vh);
	height : 73vh;
	
	border : 1vh solid black;
	border-radius : 22px;
}

.set_content {
	
	padding-left : 1vh;
}

.lyrics_item {
	
	
}

.set_title {
	
}

.set_description, .lyrics_description, .picture_description, .video_description {
	
	font-size : 1.3em;
	text-indent : 2vw;
	color : rgb(75, 75, 75);
	
	margin-top : 2vh;
	margin-bottom : 1vh;
	text-align : justify;
}

.lyrics_link {
	
	text-decoration : none;
	
	font-style : italic;
	font-size : 1.4em;
}

.lyrics_link:hover {
	
	text-decoration : underline;
}

.list {
	
	
}

.list_item {

	list-style-type : disc;
}

.lyrics_content {
	
	font-style : italic;
	font-size : 1.5em;
	display : inline-block;
	text-align : left;
}

.lyrics_comment, .picture_comment {
	
	margin-top : 2vh;
	margin-bottom : 2vh;
	
	font-size : 1.1em;
	text-indent : 2vw;
	text-align : justify;
	
	color : rgb(150, 150, 150);
}

.lyrics_picture {
	
	margin-top : 1vh;
}	

.bio, .science, .creativity {
	
	font-size : 1.5em;
	font-family : Lucida Handwriting, cursive;
	
	text-align : justify;
}

.photo {
	
	background-position : center;
	background-repeat : no-repeat;
	background-size : cover;
	
	border-radius : 25px;
}

.face {
	
	background-image : url(../pic/face.jpg);
	
	float : right;
	
	width : 20vw;
	height : 50vh;
	
	margin-top : 1vh;
	margin-bottom : 1vh;
	margin-left : 2vw;
}

.inst_u {
	
	background-image : url(../pic/inst_u.png);
	
	float : right;
	
	width : 15vw;
	height : 40vh;
	
	margin-top : 1vh;
	margin-bottom : 1vh;
	margin-left : 2vw;
}

.creative_photo {
	
	background-image : url(../pic/1.png);
	
	float : right;
	
	width : 66vw;
	height : 40vh;
	
	margin-top : 1vh;
	margin-bottom : 1vh;
	margin-left : 2vw;
}

.admin_input, .admin_input_label, .admin_submit_button, .admin_textarea {
	
	font-size : 1.2em;
	font-family : Lucida Handwriting, cursive;
	
	width : 25vw;
	height : 4vh;
}

.admin_textarea {
	
	height : 30vh;
	
	min-width : 25vw;
	min-height : 30vh;
	max-width : 25vw;
}

#new_add_form {

	margin-top : 1vh;
}